################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DaniBot.MobileUI/node_modules
*.dtbcache
**/obj/**
**/bin/**
